.character-display {
  position: relative;
  display: inline-flex;
  align-items: flex-end;
  padding: 1.5rem;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.character-display-name {
  // position: absolute;
  // bottom: 10px;
  // left: 10px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0 0 4px 2px rgb(0 0 0 / 95%);
  
  > .character-display-info {
    font-size: 12px;
  }
}
